extends layout

block content
    h1.title Continents 
    ul.list 
        each continent in continent_list 
            li
                a.link(href=continent.url) #{continent.name.toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.substring(1)).join(' ')}

        else
            p There are no continents
    
    a.new-form(href='/catalog/new-continent')
        button.button New Continent