extends layout

block content
    h1.title Countries
    ul 
        each country in countries 
            li
                a(href=country.url) #{country.name}

        else
            p There are no countries