extends layout

block content
    h1.title Countries
    ul.list
        each country in country_list
            li
                a.link(href=country.url) #{country.name.toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.substring(1)).join(' ')}

        else
            p There are no countries

    a.new-form(href='/catalog/new-country')
        button.button New Country