doctype html
html
  head
    title Geomaps
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/europe.png')
  body
    header.header
      a.clickable(href='/continents') Continents
      a.clickable(href='/countries') Countries
    div.background
    block content
