extends layout

block content
    h1.title New Country
    form.new-continent-form(method='post')
        input.input(name ='name' placeholder='Name' required='true' maxlength=30 type='text')
        input.input(name='population' placeholder='Population' required='true' type='number')
        input.input(name='area' placeholder='Area' required='true' type='number')
        input.input(name='continent' placeholder='Continent' required='true' type='text')
        div.buttons
            button.button(type='submit') Submit
            a(href='/catalog/countries')
                button.button(type='button') Cancel