* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  background-color: rgb(252, 252, 252);
}

.header {
  position: fixed;
  top: 0;
  background-color: rgb(245, 47, 47);
  box-shadow: 0 -4px 10px inset rgb(206, 5, 5);
  color: white;
  font-size: 2rem;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}

.clickable:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}

a,
a:visited {
  color: inherit;
}

.background {
  background: url('./../images//worldmap.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 100px);
  opacity: 10%;
  position: absolute;
  top: 120px;
  z-index: -1;
}

.main {
  margin-top: 100px;
  height: calc(100vh - 100px);
  padding: 24px;
  font-size: 20px;
}

.welcome-message {
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
  margin-top: 140px;
}

.continent {
  margin-top: 240px;
}

.title {
  font-size: 2rem;
  margin: 30px;
  text-align: center;
}

.list {
  margin: 30px auto;
  width: 40vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.link:hover {
  cursor: pointer;
  font-size: 1.6rem;
}

.message {
  text-align: center;
  font-size: 1.4rem;
  margin: 20px auto 30px;
}

.buttons,
.new-form {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.button {
  border: 2px solid rgb(79, 143, 216);
  color: rgb(42, 110, 189);
  padding: 6px 12px;
  border-radius: 4px;
  transition: 0.25s;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.025, 1.025);
  color: rgb(43, 185, 50);
  border: 2px solid rgb(43, 185, 50);
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.input {
  border: 2px solid rgb(172, 172, 172);
  border-radius: 4px;
  padding: 4px 8px;
  width: 18vw;
  min-width: 250px;
}



@media (max-width: 550px) {
  .header {
    font-size: 1.8rem;
  }
}

@media (max-width: 360px) {
  .header {
    font-size: 1.6rem;
  }
}